<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Gallery</h1>

<a href="/">Torna alla Home</a>

<div class="gallery">
  <% posts.forEach(post => { %>
    <div class="card">
      <a href="/post/<%= post.id %>">
        <img src="<%= post.imagePath %>" width="200">
        <p><%= post.title %></p>
      </a>
    </div>
  <% }) %>
</div>

</body>
</html>