<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

    <a href="/gallery">← Torna alla Gallery</a>

    <h1><%= post.title %></h1>

    <img src="<%= post.imagePath %>" width="400">

    <p><%= post.description %></p>

</body>
</html>